/* Remove default margin padding */
* {
  margin: 0;
  padding: 0;
}

/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* Global Css */
body {
  font-family: "Lato", sans-serif;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
section {
  padding: 3% 0;
}
h1.title {
  color: #7f7d7c;
  font-size: 29px;
}
p {
  color: #8c8c8c;
  padding: 5% 0;
  line-height: 1.7em;
}
a.btn {
  text-decoration: none;
  font-size: 16px;
  background-image: linear-gradient(45deg, #ff9350, #ff5836);
  color: #fff;
  padding: 17px 30px;
  border-radius: 30px;
  margin-top: 1%;
  display: inline-block;
}
.inner-content {
  display: flex;
}

/* banner area */
section#banner-area {
  background-image: url(../img/shapes/Frame\ 57.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.half-width.left-w {
  margin-top: 11%;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 90%;
}
.half-width h1 {
  color: #575757;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3em;
  text-transform: capitalize;
}
.half-width h1 span {
  color: #fc8f49;
}

/* about me area */
#about {
  background-image: url(../img/shapes/Frame\ 59.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
}
.half-width.left-w.about-sec {
  margin-top: 0;
}
.about-sec img {
  width: 47%;
}
.about-right-portion {
  margin-top: 6%;
}
.about-right-portion a.btn {
  margin-top: 8%;
}
/* Recipie Area */

#recipie {
  text-align: center;
}
#recipie p {
  color: #8c8c8c;
  padding: 2% 0;
  line-height: 1.4em;
}
